{
  presets: [
    'react',
  ],
  plugins: [
    ['transform-object-rest-spread', { useBuiltIns: true }],
  ],
  env: {
    development: {
      plugins: [
        'react-hot-loader/babel'
      ],
    },
  },
}
